In [1]:
import pandas as pd

In [5]:
url = "https://api.db.nomics.world/v22/series/AMECO/UDGG.csv?dimensions=%7B%22freq%22%3A%5B%22a%22%5D%2C%22unit%22%3A%5B%22percentage-of-gdp-at-current-prices-excessive-deficit-procedure%22%5D%2C%22geo%22%3A%5B%22deu%22%2C%22ita%22%2C%22fra%22%2C%22esp%22%5D%7D&limit=1000"

df_debt = pd.read_csv(url)

df_debt.head(10)

,period,Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – Germany (AMECO/UDGG/DEU.1.0.319.0.UDGG),Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – Spain (AMECO/UDGG/ESP.1.0.319.0.UDGG),Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – France (AMECO/UDGG/FRA.1.0.319.0.UDGG),Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – Italy (AMECO/UDGG/ITA.1.0.319.0.UDGG)
0,1960,NaN,NaN,NaN,31.7953
1,1961,NaN,NaN,NaN,29.9336
2,1962,NaN,NaN,NaN,28.7905
3,1963,NaN,NaN,NaN,26.8476
4,1964,NaN,NaN,NaN,26.6785
5,1965,NaN,NaN,NaN,27.7109
6,1966,NaN,NaN,NaN,32.3737
7,1967,NaN,NaN,NaN,31.9473
8,1968,NaN,NaN,NaN,34.3091
9,1969,NaN,NaN,NaN,34.9216

In [6]:
df_debt.to_csv('data/df_debt.csv', sep = ",", index = false)

NameError: name 'false' is not defined

In [7]:
df_debt.dtypes

period                                                                                                                        int64
Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – Germany (AMECO/UDGG/DEU.1.0.319.0.UDGG)    float64
Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – Spain (AMECO/UDGG/ESP.1.0.319.0.UDGG)      float64
Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – France (AMECO/UDGG/FRA.1.0.319.0.UDGG)     float64
Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – Italy (AMECO/UDGG/ITA.1.0.319.0.UDGG)      float64
dtype: object

In [8]:
new_names = {df_debt.columns[0]: "Year",
             df_debt.columns[1]: "Germany",
             df_debt.columns[2]: "Spain",
             df_debt.columns[3]: "France",
             df_debt.columns[4]: "Italy",}

df_debt.rename(columns = new_names, inplace = True)

In [9]:
df_debt.head()

   Year  Germany  Spain  France    Italy
0  1960      NaN    NaN     NaN  31.7953
1  1961      NaN    NaN     NaN  29.9336
2  1962      NaN    NaN     NaN  28.7905
3  1963      NaN    NaN     NaN  26.8476
4  1964      NaN    NaN     NaN  26.6785

In [10]:
df_debt.isnull().sum()

Year        0
Germany    35
Spain      35
France     35
Italy       0
dtype: int64

In [14]:
df_debt.dropna(inplace = True)
df_debt.reset_index(drop=True, inplace = True)
df_debt.head()

   Year  Germany    Spain   France     Italy
0  1995  54.9024  61.5424  57.5929  119.3622
1  1996  57.7939  65.4076  60.3374  119.1093
2  1997  58.8666  64.2495  61.8342  116.7821
3  1998  59.5347  62.3060  61.8435  114.1269
4  1999  60.3874  60.8039  61.1666  113.2895